.page-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}


.booking-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  width: 100%;
  max-width: 1200px;
}

.search-results {
  margin-top: 20px;
  max-height: 250px;
  overflow-y: auto;
  scrollbar-width: thin;
  padding-right: 5px;
}

.flight-card {
  padding: 12px;
  margin-bottom: 10px;
  background: #f4f4f4;
  border-radius: 8px;
  font-weight: 500;
}