<footer class="bg-dark text-white mt-auto border-top border-danger border-3">
  <div class="container py-3">
    <div class="row g-3">
      <div class="col-md-6 col-lg-3">
        <h5 class="text-danger fw-semibold mb-2">Sobre Emirates</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Quiénes somos</a></li>
          <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Nuestras rutas</a></li>
          <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Sostenibilidad</a></li>
          <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Carrera profesional</a></li>
        </ul>
      </div>

      <div class="col-md-6 col-lg-3">
        <h5 class="text-danger fw-semibold mb-2">Centro de ayuda</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Contacto</a></li>
          <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Preguntas frecuentes</a></li>
          <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Estado del vuelo</a></li>
          <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Cambiar reserva</a></li>
        </ul>
      </div>

      <div class="col-md-6 col-lg-3">
        <h5 class="text-danger fw-semibold mb-2">Políticas</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Términos y condiciones</a></li>
          <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Privacidad</a></li>
          <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Cookies</a></li>
          <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Accesibilidad</a></li>
        </ul>
      </div>

      <div class="col-md-6 col-lg-3">
        <h5 class="text-danger fw-semibold mb-2">Síguenos</h5>
        <div class="d-flex flex-column gap-2">
          <a href="https://www.facebook.com/Emirates/?locale=es_LA" class="btn btn-danger btn-sm">Facebook</a>
          <a href="https://x.com/emirates" class="btn btn-danger btn-sm">Twitter</a>
          <a href="https://www.instagram.com/emirates/" class="btn btn-danger btn-sm">Instagram</a>
          <a href="https://cl.linkedin.com/company/emirates" class="btn btn-danger btn-sm">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>

</footer>
